<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Insight Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <h1>🌤️ Weather & Climate Insight Dashboard</h1>

    <nav>
       <a href="{{ url_for('home') }}">Home</a> |
        <a href="{{ url_for('climate_page') }}">Historical Climate Trends</a>
    </nav>

    <form action="/weather" method="POST">
        <input type="text" name="city" placeholder="Enter city name" required>
        <button type="submit">Search</button>
    </form>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    {% if weather %}
        <div class="result">
            <h2>{{ weather.city }}</h2>
            <img src="https://openweathermap.org/img/wn/{{ weather.icon }}@2x.png" alt="icon">
            <p>{{ weather.description }}</p>
            <p>Temperature: {{ weather.temperature }}°F</p>
            <p>Humidity: {{ weather.humidity }}%</p>
        </div>

        {% if forecast %}
            <h3>5-Day Forecast</h3>
            <div class="forecast">
                {% for f in forecast %}
                    <div class="forecast-day">
                        <p><strong>{{ f.date }}</strong></p>
                        <img src="https://openweathermap.org/img/wn/{{ f.icon }}.png" alt="icon">
                        <p>{{ f.desc }}</p>
                        <p>{{ f.temp }}°F</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}

{% if recent %}
<section class="recent-section">
    <h3>Recent Searches</h3>
    <div class="recent-grid">
        {% for city, temp, desc, date in recent %}
            <div class="recent-card">
                <h4>{{ city }}</h4>
                <p class="recent-temp">{{ temp }}°F — {{ desc }}</p>
                <p class="recent-date">{{ date.split(' ')[0] }}</p>
            </div>
        {% endfor %}
    </div>
</section>
{% endif %}


</body>

</html>
